html{
    font-family: sans-serif;
    background-color: #fff;
    font-size: 1rem;
}


/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */
:root{
    --color-blanco: #f4f4f4; /* como hacer una variante */
}
/* ******************************** */

